In [3]:
a = 11
a //=2

In [4]:
a

5

In [5]:
b = 11

In [6]:
b = b // 2

In [7]:
b

5

In [8]:
l = [1,2,3,4,5]

In [9]:
2 in l

True

In [10]:
6 in l

False

In [11]:
6 not in l

True

In [12]:
2 not in l

False

In [18]:
name = "priyanshu"
parent = "Yogeshwar"
surname = "Dekate"
Class = "BCA"
college = "kamala nehru mahavidyalaya"
age = 18
mobile = 8380983364

In [20]:
print("My name is "+name+" and my father name is "+parent+" and my surname is "+surname+" and i am doing a "+Class+" in "+college+" and my current age is "+str(age)+" Year"+" and my mobile number is "+str(mobile))

My name is priyanshu and my father name is Yogeshwar and my surname is Dekate and i am doing a BCA in kamala nehru mahavidyalaya and my current age is 18 Year and my mobile number is 8380983364

In [21]:
print("My name is ",name," and my father name is ",parent," and my surname is ",surname," and i am doing a ",Class," at ",college," and my current age is ",age," Year"," and my mobile number is ",mobile)

My name is  priyanshu  and my father name is  Yogeshwar  and my surname is  Dekate  and i am doing a  BCA  at  kamala nehru mahavidyalaya  and my current age is  18  Year  and my mobile number is  8380983364

In [23]:
print(f"my name is {name} and my father name is {parent} and my surname is {surname} and i am doing a {Class} at {college} and my current age is {age} and my mobile number is {mobile}")

my name is priyanshu and my father name is Yogeshwar and my surname is Dekate and i am doing a BCA at kamala nehru mahavidyalaya and my current age is 18 and my mobile number is 8380983364

In [24]:
print(f"Now, my age is {age} year, Can i drive a vehicle")

Now, my age is 18 year, Can i drive a vehicle

In [25]:
print("My name is {} {} {} ".format(name,parent,surname))

My name is priyanshu Yogeshwar Dekate

In [2]:
#concatanation of String

s1 = "Hello"
s2 = "World"

print("".join([s1,s2]))

HelloWorld

In [4]:
print(" ".join([s1,s2,"priyanshu"]))

Hello World priyanshu

In [1]:
"hmm".join("priyanshu")

'phmmrhmmihmmyhmmahmmnhmmshmmhhmmu'

In [ ]:

print(f"hello{}")

In [1]:
world = "world"
print(f"hello{world}")

helloworld

              P  
                
                Concatenation in Python programming language.
                    
                    1. Using ( + ) operator
                    2. Using ( , ) comma
                    3. Using .join() method
                    4. Using fString
                    5. Using format() Function
                    6. Using ( % ) operator

In [16]:
# ( + ) operator

Name = "Priyanshu"
Aim = "Data Scientist"
Age = 18
Working = "Learning a python Programming Language."


print("My name is "+Name+", I am "+str(Age)+" years old, My Aim to become a "+Aim+" and my current focus is on "+Working)


l1 = ["Hello"]
l2 = ["Everyone","My Friend",1000]

print(l1+l2)

#Note:- using ( + ) operator concatenation only perform on a Same Data type ex - str to str, list to list, tuple to tuple, for set and dict it is not suppoeted

My name is Priyanshu, I am 18 years old, My Aim to become a Data Scientist and my current focus is on Learning a python Programming Language.
['Hello', 'Everyone', 'My Friend', 1000]

In [30]:
# ( , ) commas

Name = "Priyanshu"
Aim = "Data Scientist"
Age = 18
Working = "Learning a Python Programming Language."


print("My name is",Name,", I am",Age,"years old, My Aim to become a",Aim,"and my current focus is on",Working)


l1 = ("Hello","Everyone")
l2 = ("My Friend",1000)

print(l1+l2)

#Nonte :- comma concatanation support same as well as different data type to concate them and it automatically add a space beside the Variables.

My name is Priyanshu , I am 18 years old, My Aim to become a Data Scientist and my current focus is on Learning a Python Programming Language.
('Hello', 'Everyone', 'My Friend', 1000)

In [37]:
# .join() method

Name = "Priyanshu"
Aim = "Data Scientist"
Age = 18
Working = "Learning a Python Programming Language."

#My name is Priyanshu, I am 18 years old, My Aim to become a Data Scientist and my current focus is on learning a Python programming language
l = ["My name is",Name,", I am",str(Age),"years old, My Aim to become a",Aim,"and my current focus is on",Working]

print(" ".join(l))

print(",".join("priyanshu"))

# Note:- .join() only perform single iterable argument

My name is Priyanshu , I am 18 years old, My Aim to become a Data Scientist and my current focus is on Learning a Python Programming Language.
p,r,i,y,a,n,s,h,u

In [50]:
# fstring 

Name = "Priyanshu"
Aim = "Data Scientist"
Age = 18
Working = "Learning a Python Programming Language."

print(f"My name is {Name}, I am {Age:.2f} years old, My Aim to become a {Aim} and my current focus on {Working}")

#Note:- To add decimal points zeros use :.nf

My name is Priyanshu, I am 18.00 years old, My Aim to become a Data Scientist and my current focus on Learning a Python Programming Language.

In [61]:
# format() function

Name = "Priyanshu"
Aim = "Data Scientist"
Age = 18
Working = "Learning a Python Programming Language."

print("My name is {}, I am {} years old, My Aim to become a {} and my current focus on {}".format(Name,Age,Aim,Working))
#Note:- It will work in sequence that we are given in format function parameters.
print("My name is {0}, I am {2} years old, My Aim to become a {1} and my current focus on {3}".format(Name,Age,Aim,Working))
#Note:- In above second example if we give wrong index number then we will give wrong output.
print("My name is {Name}, I am {Age:.2f} years old, My Aim to become a {Aim} and my current focus on {Working}".format(Name = "Himanshu",Age = 16,Aim = "Sofware Engineere",Working = "Java Programming Language"))

My name is Priyanshu, I am 18 years old, My Aim to become a Data Scientist and my current focus on Learning a Python Programming Language.
My name is Priyanshu, I am Data Scientist years old, My Aim to become a 18 and my current focus on Learning a Python Programming Language.
My name is Himanshu, I am 16.00 years old, My Aim to become a Sofware Engineere and my current focus on Java Programming Language

In [75]:
# ( % ) function

Name = "Priyanshu"
Aim = "Data Scientist"
Age = 18
Working = "Learning a Python Programming Language."

print("My name is %s, I am % s years old, My Aim to become a % s and my current focus on % s" %(Name,Age,Aim,Working))

#Note:- Ater % symbol small s is Compulsory.

My name is Priyanshu, I am 18 years old, My Aim to become a Data Scientist and my current focus on Learning a Python Programming Language.